@charset "UTF-8";

@font-face {
    font-family: 'padrao';
    src: url(../fontes/MPLUSRounded1c-Light.ttf), arial;
}
@font-face {
    font-family: 'titulos';
    src: url(../fontes/MPLUSRounded1c-ExtraBold.ttf), arial;
}

:root{
    --fontP: 'padrao';
    --fontT: 'titulos';
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom, #048abf, #2c3540);
    color: #c4ddf2;
    font-family: var(--fontP);
    
}

header{
    padding: 10px;
    text-align: center;
    font-family: var(--fontT);
}
header > h1{
    text-shadow: 1px 0px 6px #ffffff49;
}

main{
    background: #2c354079;
    border-radius: 15px;
    border: 1px solid #c4ddf28c;
    padding: 15px;
    margin: auto;
    margin-bottom: 10px;
    width: 510px;
}
main fieldset{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid #c4ddf26e;
}
fieldset#dPessoais{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
main div.campo{
    padding: 5px;
    flex: auto;
}
main fieldset div.campo > input{
    font-size: 1em;
    padding: 3px 9px;
    border-radius: 8px;
}
main fieldset.opcao{
    text-align: center;
}
main select{
    padding: 3px 9px;
    border-radius: 8px;
}
main input#FC{
    padding: 8px;
    font-size: 1em;
    margin: 0px 37%;
    background: #048abf;
    border-radius: 10px;
    border: 0px;
}
main input#outrastec{
    width: 200px;
    display: none;
}