@charset "UTF-8";

@import url();

@font-face {
    font-family: 'monserrat';
    src: url(../fontes/Montserrat-VariableFont_wght.ttf);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'monserrat';
}

body{
    background-color: #fff9ea;
}
img{
    width: 100%;
}