@charset "=TF-8";

/*Configurações para telas maiores*/
@media screen and (min-width: 820px) {
    header > nav.navegacao{
        grid-template-columns: repeat(3, 1fr);
    }
    header button.btn-menu{
        display: none;
    }
    nav.navegacao > div{
        display: block;
        grid-column: span 1;
        text-align: right;
    }
    ul.navegacao-menu{
        padding: 10px;
        list-style: none;

        grid-column: span 1;

        display: flex;
        flex-flow: row;
        gap: 6px;
        justify-content: center;
        align-items: center;
    }

    section#inicio{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-evenly;
    }
    div.hero{
        display: flex;
        align-items: flex-start;
        gap: 30px;
        margin-top: 6%;
    }

    div.fundo{
        background-color: #ffa60063;
        width: 480px;
        height: 95%;
        border-radius: 40% 30% 0px 20%;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        z-index: -1;
    }
}
@media screen and (max-width: 450px) {
    a > .btn-cardapio{
        display: none;
    }
}