@charset "UTF-8";

@font-face {
    font-family: 'titulos';
    src: url(../fontes/MPLUSRounded1c-ExtraBold.ttf);
}
@font-face {
    font-family: 'padrao';
    src: url(../fontes/MPLUSRounded1c-Light.ttf);
}

:root{
    --font-p: 'padrao', Arial, Helvetica, sans-serif;
    --font-t: 'titulos', Arial, Helvetica, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--font-p);
    box-sizing: border-box;
    transition: .5s;
}

body{
    height: 100vh;
    width: 100vw;
}
header{
    background-color: black;
    color: white;
    width: 100vw;
    height: 200px;
}
header > section#cab-nav{
    position: relative;
    background-color: black;
    padding: 15px;
    height: 35%;
    margin-bottom: 10px;
}
header > section#cab-nav > div#logo-avengers{
    background: black url(../imagens/avengers-logo.png) no-repeat center center;
    background-size: contain;
    display: inline-block;
    width: 100%;
    height: 65%;
} 
header > section#cab-nav > nav#menu{
    display: inline-block;
    width: 100%;
    height: 35%;
    text-align: left;
}
header > section#cab-nav > nav#menu > a{
    display: inline-block;
    background-color: #d3d3d32e;
    color: white;
    font-size: 1em;
    text-decoration: none;
    padding: 4px;
    border-radius: 8px;
}
header > section#cab-nav > nav#menu > a:hover{
    background-color: #d3d3d363;
}   

header > section#banner{
    position: relative;
    background: black url(../imagens/banner.jpg) no-repeat center center;
    background-size: cover;
    height: 60%;
}
header > section#banner > h1{
    font-family: var(--font-t);
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 5px;
}

h2{
    font-family: var(--font-t);
    padding: 5px;
    text-align: left;
}
h2 > i{
    font-family: var(--font-t);
    font-style: normal;
    color: red;
}
main{
    padding: 10px;
}

main > section#galeria > div#imagens {
    margin: auto;
    width: 300px;
}
main > section#galeria > div#imagens > div{
    display: inline-block;
    width: 146px;
}
main > section#galeria > div#imagens > div#last01{
    width: 300px;
}
img{
    width: 100%;
}

footer{
    background-color: black;
    color: white;
    padding: 20px;
}
footer > section{
    text-align: center;
}
footer > section > p{
    text-align: justify;
    display: inline-block;
    width: 300px;
}
footer > section > img{
    display: inline-block;
    width: 50%;
}
footer > aside {
    text-align: center;
    padding: 20px;
}
a{
    text-decoration: none;
}
a:hover{
    background-color: #d3d3d30c;
    border-radius: 3px;
    text-decoration: underline;
}