@charset "UTF-8";

@media screen and (min-width: 786px){
    header{
        height: 300px;
        margin-bottom: 20px;
    }
    header > section#cab-nav{
        height: 30;
    }
    header > section#cab-nav > div#logo-avengers{
        width: 48%;
        height: 100%;
    }
    header > section#cab-nav > nav#menu{
        position: absolute;
        width: 48%;
        height: 100%;
    }
    header > section#cab-nav > nav#menu > a{
        font-size: 1.5em;
        margin-top: 25px;
    }
    header > section#banner{
        height: 70%;
    }
    header > section#banner > h1{
        font-size: 2em;
    }
    main > section#galeria > div#imagens {
        width: 800px;
        text-align: center;
    }
    main > section#galeria > div#imagens > div{
        width: 200px;
    }
    main > section#galeria > div#imagens > div#last01{
        width: 600px;
    }
    img{
        width: 100%;
    }
    footer > section > p{
        width: 48%;
    }
    footer > section > img{
        width: 25%;
    }
}