@charset "UTF-8";

@font-face {
    font-family: 'titulos';
    src: url(../fontes/MPLUSRounded1c-ExtraBold.ttf);
}
@font-face {
    font-family: 'padrao';
    src: url(../fontes/MPLUSRounded1c-Light.ttf);
}

*{
    font-family: 'padrao';
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

img{
    width: 100%;
}

body{
    background-color: black;
    color: white;
    padding: 10px;
}

header, footer{
    display: flex;
    flex-flow: column wrap;
}

header > div#logo{
    background: url(../img/avengers-logo.png) center center no-repeat;
    background-size: contain;
    height: 90px;

    flex: auto;
}
header > nav{

    flex: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header > nav > a{
    background-color: #80808049;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    padding: 8px;
    margin: 5px;
    border-radius: 8px;
    text-decoration: none;
}
header > div#banner{
    background: url(../img/Sbanner.jpg) center center no-repeat;
    background-size: cover;
    height: 200px;

    flex: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
h2::before{
    color: red;
    font-weight: bold;
    content: "| ";
}

main{
    background-color: white;
    color: black;
    padding: 10px;
}

main > section#galeria{
    padding: 15px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
main > section#galeria > h2{
    margin-bottom: 15px;
    grid-column: 1/3;
}
main > section#galeria > div{
    border-radius: 8px;
    box-shadow: inset 0px 0px 8px 0px #00000027;


}

main > section#galeria > div#img07{
    grid-column: 1 / 3;
}

main > section#galeria > div > legend{
    padding: 6px;
}
main > section#galeria > div > img{
    border-radius: 8px;
    margin-top: 4px;
}